<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Client</title>
</head>
<body>
<h1>Add New Client</h1>
<form th:action="@{/clients/add}" method="post" th:object="${client}">
    <label>First Name:</label>
    <input type="text" th:field="*{getFirstName()}" required><br>
    <label>Last Name:</label>
    <input type="text" th:field="*{getLastName()}" required><br>
    <label>Email:</label>
    <input type="email" th:field="*{getEmail()}" required><br>
    <label>Phone Number:</label>
    <input type="number" th:field="*{getPhone()}" required><br>

    <label>Password:</label>
    <input type="password" th:field="*{password}" required><br>

    <button type="submit">Submit</button>
</form>
</body>
</html>