<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AutoService Manager</title>
    <link rel="stylesheet" th:href="@{/css/indexStyle.css}">
</head>
<body>
<nav class="navbar">
    <div class="nav-container">
        <h1>AutoService Manager</h1>
        <ul>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/signIn">Sign In</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/services">Shop</a></li>
        </ul>
    </div>
</nav>
<section class="hero">
<img th:src= "@{/images/indexImg.png}" alt="Image not found">
</section>
    <h1>Добре дошли в AutoService Manager 🚗</h1>
<p>Тук нашите специалисти ще се погрижат за вашия автомобил по специален начин.</p>
</body>
</html>