<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AutoService Manager</title>
    <link rel="stylesheet" th:href="@{/css/indexStyle.css}">
</head>
<body>
<nav class="navbar">
    <div class="nav-container">
        <h1>AutoService Manager</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/clients">Клиенти</a></li>
            <li><a href="/cars">Автомобили</a></li>
            <li><a href="/services">Услуги</a></li>
        </ul>
    </div>
</nav>
<form action="#" th:action="@{/signIn}" method="post">
    <input type="email" name="email" placeholder="Email" required/>
    <input type="password" name="password" placeholder="Password" required/>
    <button type="submit">Sign In</button>
    <p th:text="${error}"></p>
</form>
</body>
</html>