body, html {
    height: 100%;
    margin: 0;
    font-family: Cursive, sans-serif;
    font-style: inherit;
}

.bg {
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background-color: royalblue;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
    z-index: 1000;
}

.sidebar h2 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.sidebar h2 .icon {
    width: 24px;
    height: 24px;
    fill: white;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    padding: 12px 10px;
    border-radius: 4px;
    transition: background 0.3s;
}
.menu-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    display: inline-block;
}

.sidebar a:hover {
    background-color: skyblue;
}

.hero {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    left: 0;
    width: 100%;
    z-index: 1;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
}
.hero::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.name {
    color: rgb(31, 50, 114);
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.flip-box {
    background-color: transparent;
    width: 330px;
    height: 300px;
}
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-box-front {
    background-color: transparent;
    color: black;
}
.flip-box-back {
    background-color: transparent;
    color: black;
    text-align: center;
    transform: rotateY(180deg);
}

.flip-box-front {
    width: 330px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.flip-box-image{
    width: 310px;
    height: 280px;
}

@media (max-width: 768px) {
    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
    }
    .chart-container {
        width: 95%;
        padding: 10px;
    }
    .table-header {
        margin-left: 0;
    }

    .layout {
        flex-direction: column;
    }

    .content {
        margin-left: 0;
        padding: 1rem;
    }

    .brand-table {
        max-width: 90%;
    }
    .hero {
        height: 50vh;
        border-radius: 0;
    }
    .hero h1 { font-size: 1.8rem; }
    .hero p { font-size: 1rem; }

    .container {
        flex-direction: column;
        align-items: center;
    }
}

.table-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    margin-left: 250px;
}

.brand-table {
    width: clamp(300px, 80%, 700px);
    margin: 2rem auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.chart-container {
    position: relative;
    width: 80%;
    max-width: 600px;
    height: 300px;
    margin: 40px auto;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(65, 105, 225, 0.25);
    padding: 20px;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}
@media (min-width: 1600px) {
    .brand-table {
        transform: scale(0.9);
    }
}
.header-icon{
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    display: inline-block;
}












