body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

.bg {
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    min-height: 100vh;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 220px;
    min-width: 180px;
    background-color: royalblue;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: flex-start;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
}

.sidebar h2 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.sidebar h2 .icon {
    width: 24px;
    height: 24px;
    fill: white;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    padding: 12px 10px;
    border-radius: 4px;
    transition: background 0.3s;
}
.menu-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    display: inline-block;
}

.sidebar a:hover {
    background-color: skyblue;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .content {
        padding: 1rem;
    }

    .brand-table {
        max-width: 90%;
    }
}

.table-header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tableText{
    font-family: Cursive, sans-serif;
    font-style: inherit;
    text-align:center;
    margin-top:30px;
}
.brand-table{
    width:90%;
    margin: 0 auto;
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.chart-title {
    text-align: center;
    margin-top: 30px;
    color: royalblue;
    font-size: 1.6rem;
    font-weight: bold;
}

.chart-container {
    width: 70%;
    margin: 30px auto;
    background: whitesmoke;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.chart-container:hover {
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(65, 105, 225, 0.3);
}